<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.55">
    <meta name="keywords" content="Team Development & Mentoring, Software Development, MITRE ATT&CK, Functional Programming, Offensive Computing, Technology Assessment & Roadmap Planning, Executive Leadership and Strategic Planning">
    <meta name="description" content="Technology Leader, Executive Director, Functional Programmer, Avid Maker, Father"/>
    $if(skip_head_title)$
    <title>Michael Shannon</title>
    $else$
    <title>$title$ | Michael Shannon</title>
    $endif$
    <link href="https://fonts.googleapis.com/css?family=Lato|PT+Serif" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.min.css" />
    <link href='/images/fav.png' rel='shortcut icon'>
</head>
